.b {
  height: 300px;
}
.cc.ignore {
  font-size: 30px;
}
.test {
  /*font-size: 30px;必须使用此种注释*/ 
  font-size: 30px;
}

.page-home.mobile {
  .page-home-wrap {
    .swiper-container1 {
      .swiper-slide {
        height: 234px;
      }
    }

    .swiper-container-notice {
      height: 28px;
      .swiper-slide {
        .item {
          font-size: 12px;
        }
      }
    }
    .section-notice {
      background: $bg-color-light;
    }
    .section-visit-wrap {
      background: $bg-color-light;
      .section-visit {
        .visit-box {
          font-size: 12px;
          .time-list {
            .time {
              font-size: 16px;
              font-weight: bold;
            }
          }
          .btn-visit {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(50%);
          }
        }
      }
    }
    .section-infomation {
      .infomation-list {
        .item {
          font-size: 12px;
          line-height: 19px;
          .pic-box {
            height: 98px;
            .day-box {
              width: 40px;
              height: 40px;
              .day {
                left: 4px;
                top: 3px;
                font-size: 14px;
              }
              i {
                position: absolute;
                left: 18px;
                top: 7px;
                width: 1px;
                height: 25px;
              }
              .mon {
                font-size: 10px;
                bottom: 4px;
                right: 4px;
                transform: scale(.8);
              }
            }
          }
        }
      }
    }
    .section-exhibition {
      background: $bg-color-light;
      .exhi-swiper {
        padding-bottom: 80px;
        .swiper-container-exhi {
          background: #fff;
          height: auto;
          .swiper-slide {
            .pic {
              img {
                width: 100%;
                height: 100%;
              }
            }
            .pic-info {
              h3 {
                color: $text-color-base;
                font-size: 15px;
                font-weight: normal;
                line-height: 25px;
                text-align: left;
              }
              .exhi-time {
                font-size: 12px;
                line-height: 17px;
                color: $text-color-grey;
              }
            }
          }
        }
        .swiper-count {
          &.mobile {
            background: transparent;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
            .count-box {
              .count {
                color: $text-color-base;
                margin: 0;
              }
            }
          }
        }
      }
      .btn-more {
        top: 16px;
      }
    }
    .section-collect {
      .swiper-container3 {
        position: relative;
        padding-bottom: 108px;
        .collect-info {
          font-size: 14px;
          text-align: center;
          color: #fff;
        }
        .swiper-count {
          &.mobile {
            background: transparent;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
            .count-box {
              color: #fff;
            }
          }
        }
      }
    }
    .section-links {
      .links-item {
        /*
        &:nth-child(1),
        &:nth-child(2) {
          height: 100px;
        }
        &:nth-child(3) {
          height: 105px;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          height: 80px;
        }
        img {
          height: 100%;
        }
        */
      }
    }

    .btn-more {
      font-size: 11px;
      border: none;
      img {
        width: 11px;
      }
    }

    .swiper-count {
      &.mobile {
        background: rgba(0, 0, 0, .3);
        border-radius: 20px;
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        .count-box {
          padding: 0 15px;
          .count {
            color: #fff;
            margin: 0;
            font-size: 16px;
            i {
              font-size: 20px;
            }
          }
          .swiper-button-prev,
          .swiper-button-next {
            display: none;
          }
        }
        .pic-box {
          display: none;
        }
      }
    }

    // 修改tab样式
    .v-tabs {
      .v-tab {
        font-size: 16px;
      }
    }
    .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active){
      color: $text-color-tab;
      font-size: 13px;
    }
  }

}